<div class="container">
  <h1 class="mt-5">Book List</h1>
  <div class="row mt-3">
    <%= render 'search_form' %>
    <div class="col-md-6">
      <%= form_with(url: search_books_path, method: "get", class: "d-flex") do |form| %>
        <%= form.text_field :query, class: "form-control me-2", placeholder: "Search..." %>
        <%= form.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <ul class="list-group mt-3">
    <% @books.each do |book| %>
      <li class="list-group-item"><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>
  <div class="mt-3">
    <%= paginate @books, theme: 'bootstrap' %>
  </div>
</div>
