
<h1>book list</h1>
<div><%= render 'search_form' %>
<%= form_with(url: search_books_path, method: "get") do |form| %>
  <%= form.text_field :query, placeholder: "Search..." %>
  <%= form.submit "Search" %>
<% end %>
</div>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %></li>
  <% end %>
</ul>
<%= paginate @books %>


