<h1><%= @book.title %></h1>
<p>Author: <%= link_to @book.author.name, author_path(@book.author) %></p>
<p>Published Date: <%= @book.published_at %></p>
<p>Publisher: <%= link_to @book.publisher.name, publisher_path(@book.publisher) %></p>
<p>Genre: <%= @book.genre %></p>
<p>ISBN: <%= @book.isbn %></p>

